'''

==========================================
Milestone 3

Nama    : Farhan Andrianca Sany
Batch   : CODA-011-RMT

Program ini dibuat untuk melakukan pre automasi data penjualan video game dengan melakukan ETL dan Validasi data.

==========================================


'''

Import library yang diperlukan

In [1]:
import pandas as pd
from great_expectations.data_context import FileDataContext

Load data csv ke df

In [2]:
df = pd.read_csv('vgsales.csv')

Melihat data

In [3]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Melihat informasi data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Mengecek duplicated data

In [5]:
df.duplicated().sum()

0

Mengecek missing value data

In [6]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

Menghapus missing value dari kolom Year

In [7]:
df.dropna(subset=['Year'], inplace=True)

Mengisi missing value dari kolom Publisher

In [8]:
df["Publisher"] = df["Publisher"].fillna("Unknown")

Mengsortir ulang df berdasarkan kolom Global_Sales menurun dari yang terbesar

In [9]:
df.sort_values(by='Global_Sales', ascending=False, inplace=True)

Mereset index rank dan membuat ulang rank agar urut dengan increment +1

In [10]:
df.reset_index(drop=True, inplace=True)

df['Rank'] = df.index + 1

Mengecek missing value yang sudah dihandle

In [11]:
df.isna().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

Melihat df

In [12]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16322,16323,Fatal Fury: Battle Archives Volume 2 (JP sales),PS2,2007.0,Fighting,SNK Playmore,0.00,0.00,0.01,0.00,0.01
16323,16324,Tantei Jinguuji Saburo: Hai to Diamond,PSP,2009.0,Adventure,Arc System Works,0.00,0.00,0.01,0.00,0.01
16324,16325,BattleForge,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16325,16326,Jewel Quest II,PC,2007.0,Puzzle,Avanquest,0.00,0.01,0.00,0.00,0.01
16326,16327,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Mengubah tipe data Year menjadi int

In [13]:
df["Year"] = df["Year"].astype(int)

Mengecek informasi data

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16327 entries, 0 to 16326
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  object
 3   Year          16327 non-null  int32
 4   Genre         16327 non-null  object
 5   Publisher     16327 non-null  object
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.3+ MB

Menyimpan data bersih ke vgsales_clean

In [15]:
df.to_csv('vgsales_clean.csv', index=False)

Membuat context directory dari GE

In [16]:
context = FileDataContext.create(project_root_dir='./')

Membuat nama untuk datasource GE

In [ ]:
datasource_name = 'video_game_sales'
datasource = context.sources.add_pandas(datasource_name)

Menginisialisasi asset_name dan path

In [18]:
asset_name = 'vgsales'
path_to_data = 'E:/Hacktiv8/M3/vgsales_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)
batch_request = asset.build_batch_request()

Membuat expectation suite

In [19]:
expectation_suite_name = 'expectation-video-game-sales'
context.add_or_update_expectation_suite(expectation_suite_name)
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Validasi 1
Mengecek validasi value unique kolom Rank

In [20]:
validator.expect_column_values_to_be_unique('Rank')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 16327,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Validasi 2
Mengecek validasi value tidak boleh missing kolom Name

In [21]:
validator.expect_column_values_to_not_be_null('Name')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 16327,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Validasi 3
Mengecek validasi value kolom Year antara nilai min dan max kolom Year

In [22]:
validator.expect_column_values_to_be_between(column='Year', min_value = df['Year'].min(), max_value = df['Year'].max())

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 16327,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Validasi 4
Mengecek validasi kolom harus ada pada kolom Na_Sales dan EU_ Sales

In [23]:
validator.expect_column_to_exist(column='NA_Sales')
validator.expect_column_to_exist(column='EU_Sales')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Membuat variable placeholder untuk publisher

In [24]:
publisher = df['Publisher'].unique().tolist()

Validasi 5
Mengecek validasi value Kolom Publisher harus ada pada set value yang telah ada sebelumnya pada variable publisher

In [25]:
validator.expect_column_values_to_be_in_set('Publisher', value_set=publisher)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 16327,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Validasi 6
Mengecek validasi tipe data float pada kolom JP_Sales dan Other_Sales

In [26]:
validator.expect_column_values_to_be_in_type_list('JP_Sales', ['float'])
validator.expect_column_values_to_be_in_type_list('Other_Sales', ['float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Validasi 7
Mengecek validasi value menurut sesuai rank  pada kolom Global_Sales

In [27]:
validator.expect_column_values_to_be_decreasing(column='Global_Sales')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 16327,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Tugas Milestone 3 pre automasi selesai pada cell ini

cell dibawah opsional untuk menyimpan validator ke suite

In [28]:
validator.save_expectation_suite(discard_failed_expectations=False)

membuat checkpoint

In [29]:
checkpoint_1 = context.add_or_update_checkpoint(
    name = 'checkpoint_1',
    validator = validator,
)

run checkpoint

In [30]:
checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/36 [00:00<?, ?it/s]

membuild docs dan path file docs

In [31]:
context.build_data_docs()

{'local_site': 'file://e:\\Hacktiv8\\M3\\gx\\uncommitted/data_docs/local_site/index.html'}